.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    // space between will mean that the childrem, 'logo-container' and 'options', will be pushed as far away from each other as possible.
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
      }
    }
  }